.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 32px 60px;
}

.left {
  margin-right: 32px;
}

.right {
  width: 327px;
  padding: 16px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}
